<div class="border rounded bg-blue-500 m-4 p-2 flex flex-col space-y-2">
  <!-- String interpolation -->
  <h1 class="text-lg">{{title}}</h1> 

  <!-- property binding -->
  <div class="flex flex-col font-bold">
    <label for="content1">property binding</label>
    <input type="text" id='content1' [value]='content1' (input)="onContentChange($event)" />
    <span>{{content1}}</span>
  </div>

  <!-- two-way binding -->
  <div class="flex flex-col font-bold">
    <label for="content2">ngModel</label>
    <input type="text" id='content2' [(ngModel)]="content2" />
    <!-- behind the scene -->
    <!-- <input type="text" [ngModel]="content2"  (ngModelChange)="content2 = $event"/> -->
    <span>{{content2}}</span>
  </div>
  
  <!-- Access template & DOM with @ViewChild -->
  <div class="flex flex-col font-bold">
    <label for="content3">@ViewChild</label>
    <input type="text" id='content3' #content3Input (input)='onContentChange3()'>
    <span>{{content3}}</span>
  </div>

  <!-- Basic Directive -->
  <div  class="flex flex-col font-bold">
    <label for="content4">Basic Directive: *ngFor, *ngIf, [ngClass]</label>
    <select name="content4" id="content4"  [(ngModel)]='content4'>
      <option *ngFor='let option of contentOptions' class="p-2" [value]="option.value">{{option.name}}</option>
    </select>
    <span *ngIf="content4; else noValue">value {{content4}}</span>
    <ng-template #noValue>
      <span>no value</span>
    </ng-template>

    <span [ngClass]="{
      'text-red-500': !content4,
      'text-green-600': content4
    }"
    >
      O
    </span>
  </div>

  <span>{{inputMessage}}</span>

</div>